<div *ngIf="departements; else noDepartement">

  <div class="text-center text-success mt-5">
    <fa-icon class="success" [icon]="faSuccess"></fa-icon>
    <p>{{nombreDepartementsParRegion}} département(s) trouvé(s)</p>
  </div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Régions</a></li>
      <li class="breadcrumb-item active" aria-current="page">Départements</li>
    </ol>
  </nav>

  <table class="table table-striped table-hover text-center">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Code</th>
        <th>Code Région</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let departement of departements">
        <tr routerLink="/regions/{{departement.codeRegion}}/departments/{{departement.code}}/cities">
          <th>{{departement.nom}}</th>
          <th>{{departement.code}}</th>
          <th>{{departement.codeRegion}}</th>
        </tr>
      </ng-container>
    </tbody>
  </table>

</div>
<ng-template #noDepartement>
  Aucun département trouvé
</ng-template>
